<div class="table-actions">
  <input
    type="text"
    placeholder="Buscar..."
    class="search-input"
    (input)="searchQuery.set(txtSearch.value)"
    #txtSearch
  />
  <button class="btn-add" [routerLink]="['register']">Agregar</button>
</div>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Logo</th>
        <th>Nombre del Producto</th>
        <th>Descripción <span class="info-icon">i</span></th>
        <th>Fecha de Liberación <span class="info-icon">i</span></th>
        <th>Fecha de Reestructuración <span class="info-icon">i</span></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      @for (product of products().data | ProductFilter: searchQuery(); track product.id) {
        <tr>
          <td>
            <div class="product-logo">
              {{ product.logo }}
            </div>
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.date_release | date: 'dd/MM/yyyy' : 'UTC' }}</td>
          <td>{{ product.date_revision | date: 'dd/MM/yyyy' : 'UTC' }}</td>
          <td>
            <div class="actions-dropdown">
              <button class="dots-button">⋮</button>
              <div class="dropdown-content">
                <button (click)="editProduct(product.id)">Editar</button>
                <button (click)="openDeleteDialog(product.id, product.name)">Eliminar</button>
              </div>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <div class="footer-table">
    <span>{{ products().data.length }} Resultados</span>
    <div class="pagination-select">
      <select>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="10">20</option>
      </select>
    </div>
  </div>
</div>

<delete-dialog (deleted)="deleteProduct.emit($event)" />
